<div id="map"></div>

<%# Search Form %>
  <div>
    <form id="search-form">
      <div class="field">
        <label>住所名</label>
        <input id="address" type="text" name="address"></input>
      </div>
      <div class="field">
        <label>上限家賃</label>
        <input id="upper-price" type="text" name="upper-price"></input>
      </div>
      <div class="field">
        <label>下限家賃</label>
        <input id="lower-price" type="text" name="lower-price"></input>
      </div>
      <div class="field">
        <label>距離(半径)</label>
        <input id="distance" type="text" name="distance"></input>
      </div>
      <div class="field">
        <label>築年数(未満)</label>
        <input id="years" type="text" name="years"></input>
      </div>
      <div class="field">
        <label>間取り</label>
        <input id="room-layout" type="text" name="room-layout"></input>
      </div>
      <button id="submit-button">絞り込み</button>
    </form>
  </div>


  <%# 不動産情報モーダル %>
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        不動産登録
      </div>
      <div class="content">
        <div class="ui form">
          <div class="inline field">
            <%= form_with model: Estate.new do |f| %>
              <div class="field">
                <label>建物名</label>
                <%= f.text_field :name, id: 'form-name' %>
              </div>
              <div class="field">
                <label>緯度</label>
                <%= f.number_field :longitude, step: '0.000001', id: 'form-longitude' %>
              </div>
              <div class="field">
                <label>経度</label>
                <%= f.number_field :latitude, step: '0.000001', id: 'form-latitude' %>
              </div>
              <div class="field">
                <label>価格</label>
                <%= f.number_field :price, id: 'form-price' %>
              </div>
              <div class="field">
                <label>住所</label>
                <%= f.text_field :address, id: 'form-address' %>
              </div>
          </div>
        </div>
      </div>
      <div class="actions" id="submit">
        <%= f.submit '登録', class: 'ui teal basic button', 'data-disable-with' => '送信中...' %>
      </div>
      <% end %>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js" integrity="sha256-HcON65l89nxNl7vaRECVPe/zNDBzhCcJYBE7O+EcruU=" crossorigin="anonymous"></script>